img {
  margin-left: 5rem;
  margin-top: 5rem;
}
h1 {
  margin-left: 1rem;
}
.email {
  width: 15rem;
  margin-bottom: 2rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 1rem;
}
.password {
  width: 13.5rem;
  margin-bottom: 1rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 1rem;
}
.signin-button {
  width: 18rem;
  margin-left: 3rem;
  height: 3rem;
  border-radius: 5px;
  border-style: none;
  background-color: #6750a4;
  color: white;
  margin-bottom: 2rem;
}

.targetme {
  margin-left: 1rem;
}
